<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign &middot; Up</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="icon" type="image/png" href="images/fluidicon.png"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="css/semantic.min.css">
        <link rel="stylesheet" href="css/cardui.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/pace.css">

        <style>
          html { font-family: 'Lato', sans-serif; }
        </style>

        <link rel="author" href="humans.txt">
    </head>
    <body>

      
      <div class="ui very thin styled left sidebar">
        <div class="ui fluid vertical icon buttons">
          <div class="ui icon button">
            <i class="blue user icon"></i>
          </div>

          <div class="ui icon button">
            <i class="red lightning basic icon"></i>
          </div>

          <div class="ui icon button">
            <i class="blue idea basic icon" data-position="right center" data-variation="inverted" data-variation="small"></i>
          </div>

          <div class="ui icon button">
            <i class="green setting icon"></i>
          </div>
          <div class="ui icon button">
            <i class="red mail icon"></i>
          </div>
          <div class="ui icon button">
            <i class="blue cloud icon"></i>
          </div>
          <div class="ui icon button">
            <i class="terminal icon"></i>
          </div>
          <div class="ui icon button">
            <i class="blue lab icon"></i>
          </div>

          <div class="ui icon button">
            <i class="red bug icon"></i>
          </div>

          <div class="ui icon button">
            <i class="code icon"></i>
          </div>

          <div class="ui icon button">
            <i class="blue trello icon"></i>
          </div>

          <div class="ui facebook button">
              <i class="facebook icon"></i>
          </div>

          <div class="ui twitter button">
              <i class="twitter icon"></i>
          </div>

          <a class="active item">
            <img class="default-spacer" src="icons/svg/loop.svg" height="45" width="45">
          </a>

          <a class="item">
            <img src="icons/svg/pencils.svg" height="45" width="45">
          </a>
          
        </div>
      </div>


        <div class="container">
          <header>
            <div class="bio">
              <img src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg">
              <div class="desc">
                <h3>@carlf</h3>
                <p>Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character.</p>
              </div>
            </div>
            
            <div class="avatarcontainer">
              <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">
              <div class="hover">
                  <div class="icon-twitter"></div>
              </div>
            </div>


          </header>

          <div class="content">
            <div class="data">
              <ul>
                <li>
                  2,934
                  <span>Tweets</span>
                </li>
                <li>
                  1,119
                  <span>Followers</span>
                </li>
                <li>
                  530
                  <span>Following</span>
                </li>
              </ul>
            </div>

            <div class="follow"> <div class="icon-twitter"></div> Follow</div>
          </div>

        </div>
        <!--  
        <div class="ui large modal">
          <i class="close icon"></i>
          <div class="header">
            Sign Up
          </div>
          <div class="content">
            <div class="left">
              <div class="ui error form segment">
                <div class="ui error message">
                  <div class="header">Action Forbidden</div>
                  <p>You can only sign up for an account once with a given e-mail address.</p>
                </div>
                <div class="two fields">
                  <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text">
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text">
                  </div>
                </div>
                <div class="field">
                  <label>Username</label>
                  <input placeholder="Username" type="text">
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password">
                </div>
                <div class="inline field">
                  <div class="ui checkbox">
                    <input type="checkbox">
                    <label>I agree to the Terms and Conditions</label>
                  </div>
                </div>
                <div class="ui blue submit button">Submit</div>
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui positive button">Submit</div>
          </div>
        </div>
  -->
        

        <div class="ui modal">
          <i class="close icon"></i>
          <div class="header">
            Sign In
          </div>
          <div class="content">
            <div class="left">

              <div class="ui form segment">
                <div class="field">
                  <label>Username</label>
                  <div class="ui left labeled icon input">
                    <input type="text" placeholder="Username">
                    <i class="user icon"></i>
                    <div class="ui corner label">
                      <i class="icon asterisk"></i>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Password</label>
                  <div class="ui left labeled icon input">
                    <input type="password">
                    <i class="lock icon"></i>
                    <div class="ui corner label">
                      <i class="icon asterisk"></i>
                    </div>
                  </div>

                </div>
              </div>
              <!-- 
                <div class="ui inverted fluid form segment">
                  <div class="two fields">
                    <div class="field">
                      <label>Username</label>
                      <input placeholder="username" type="text">
                    </div>
                    <div class="field">
                      <label>Password</label>
                      <input placeholder="password" type="text">
                    </div>
                  </div>
                </div>
              -->
            </div>
          </div>
          <div class="actions">
            <a href="/forgot">Forgot password?</a>
            <div class="ui positive button">Login</div>
          </div>
        </div>

        <div class="ui horizontal icon divider">
          <i class="circular red heart icon"></i>
        </div>

        <div id="reg" class="ui buttons">
          <div id="signup" class="ui primary button">Sign Up</div>
          <div class="or"></div>
          <div id="some" class="ui positive button">Login</div>
        </div>

        <!-- 
        <div class="ui right floated medium image">
          <a class="ui right red corner label">
            <i class="heart icon"></i>
          </a>
          <img src="images/fluidicon.png" height="50" width="50">
        </div>
         -->

        <script src="js/jquery.min.js"></script>
        <script src="js/semantic.min.js"></script>
        <script src="js/pace.min.js"></script>

        <script>

        $('#hi')
          .popup({
            on: 'click'
          })
        ;
        $('#hi')
          .popup({
            on: 'focus'
          })
        ;

        $('.blue.idea.basic.icon')
          .popup({
            on: 'hover',
            content: 'project ideas',
            target: '.blue.idea.basic.icon',
            inline: false
          })
        ;

        $("#some").click(function() {
          $('.ui.modal')
          .modal('setting', {
            closable  : false,
            onDeny    : function() {
              window.alert('Wait not yet!');
              return false;
            },
            onApprove : function() {
              window.alert('Approved!');
            }
          })
          .modal('show');
        });

        $("#signup").click(function() {
          $('.ui.large.modal')
          .modal('setting', {
            closable  : false,
            onDeny    : function() {
              window.alert('Wait not yet!');
              return false;
            },
            onApprove : function() {
              window.alert('Approved!');
            }
          })
          .modal('show');
        });

        $('.ui.thin.very.sidebar')
        .sidebar({
          overlay: false
        })
        .sidebar('toggle');

        </script>
    </body>
</html>
